header {    
    background: #6caafc;
    background: -moz-linear-gradient(left, #6caafc 0%, #6e63b7 100%);
    background: -webkit-linear-gradient(left, #6caafc 0%,#6e63b7 100%);
}

#history {
    padding: 0;
}

.history-btn {
    background-color: rgb(198, 202, 206);
}

.btn {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px; 
    margin-bottom: 3px;
    margin-top: 3px;
}

#search-btn {
    background-color: lightskyblue;
    color: white;
}

.forecast {
    background-color: rgb(80, 80, 105);
    color: white;
    margin: 5px;    
}

#uvIndex {
    width: 10%;
}

.low {
    background-color: chartreuse;
    color: black;    
}

.moderate {
    background-color: coral;
    color: white; 
}

.severe {
    background-color: crimson;
    color: white; 
}