header {    
    background: #6caafc;
    background: -moz-linear-gradient(left, #6caafc 0%, #6e63b7 100%);
    background: -webkit-linear-gradient(left, #6caafc 0%,#6e63b7 100%);
}

div {
    min-height: 10px;    
}